@import url(https://use.fontawesome.com/releases/v5.1.1/css/all.css);
*{
  padding:0;
  margin:0;
  list-style: none;
}
.flex{
  display: flex;
}
.j-c{
  justify-content: center;
}
.j-s{
  justify-content: space-between;
}
.a-c{
  align-items: center;
}
